{{- /* Get configuration. */}}
{{- $startLevel := or (.Site.Params.navigation.startLevel | int) 2 }}
{{- $endLevel := or (.Site.Params.navigation.endLevel | int) 3 }}
{{- $minNumHeadings := or (.Site.Params.navigation.minNumHeadings | int) 2 }}

{{- /* Initialize. */}}
{{ $headings := partial "assets/toc-headings.html" . }}

{{- /* Build edit URL */}}
{{ $repo   := .Site.Params.github.repo }}
{{ $branch := .Site.Params.github.branch | default "main" }}
{{ $editURL := "" }}
{{ with .File }}
  {{ $filePath := replace .Path "\\" "/" }}
  {{ $editURL = printf "%s/edit/%s/content/%s" $repo $branch $filePath }}
{{ end }}

{{- /* Render */}}
{{- if .Site.Params.navigation.toc }}
  {{- with $headings }}
    {{- if ge (len .) $minNumHeadings }}
      <strong class="d-block h6 my-2 pt-4">{{ T "toc" }}:</strong>
      <nav class="toc">
        {{- range . }}
          {{- $attrs := dict "class" (printf "toc-item toc-level-%d" (add 1 (sub .level $startLevel))) }}
          {{- with .id }}
            {{- $attrs = merge $attrs (dict "href" (printf "%s#%s" $.RelPermalink .)) }}
          {{- end }}
          <a
          {{- range $k, $v := $attrs }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end -}}
          >{{ .text }}</a>
        {{- end }}
      </nav>
    {{- end }}
  {{- end }}
  {{ if $editURL }}
  <hr class="my-3" style="opacity: 0.25;">
  <div class="mt-2">
    <a href="{{ $editURL }}" 
       target="_blank" 
       rel="noopener"
       class="toc-item"
       style="font-size: 0.875rem;">
      {{ T "edit-page" }}
    </a>
  </div>
  {{ end }}
{{- end }}
