{{/* Render previous / next navigation based on explicit page weight ordering */}}
{{- $pageNavPrev := partial "utilities/GetThemeIcon.html" (dict "id" "pageNavPrev" "default" "fas arrow-left") -}}
{{- $pageNavNext := partial "utilities/GetThemeIcon.html" (dict "id" "pageNavNext" "default" "fas arrow-right") -}}

{{- $prevPage := "" -}}
{{- $nextPage := "" -}}

{{/* Prefer section menu child order when available. */}}
{{- $menuChildren := slice -}}
{{- $sectionURL := strings.TrimSuffix "/" .CurrentSection.RelPermalink -}}
{{- range site.Menus.main -}}
  {{- $menuURL := strings.TrimSuffix "/" (relLangURL .URL) -}}
  {{- if eq $menuURL $sectionURL -}}
    {{- $menuChildren = .Children -}}
  {{- end -}}
{{- end -}}

{{- if gt (len $menuChildren) 0 -}}
  {{- $currentURL := strings.TrimSuffix "/" .RelPermalink -}}
  {{- $currentIndex := -1 -}}
  {{- range $i, $item := $menuChildren -}}
    {{- $itemURL := strings.TrimSuffix "/" (relLangURL $item.URL) -}}
    {{- if eq $itemURL $currentURL -}}
      {{- $currentIndex = $i -}}
    {{- end -}}
  {{- end -}}

  {{- if ge $currentIndex 0 -}}
    {{- if gt $currentIndex 0 -}}
      {{- $prevItem := index $menuChildren (sub $currentIndex 1) -}}
      {{- $prevPage = site.GetPage (relLangURL $prevItem.URL) -}}
    {{- end -}}
    {{- if lt $currentIndex (sub (len $menuChildren) 1) -}}
      {{- $nextItem := index $menuChildren (add $currentIndex 1) -}}
      {{- $nextPage = site.GetPage (relLangURL $nextItem.URL) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{/* Fallback to section page ordering. */}}
  {{- $pages := where .CurrentSection.RegularPages "Lang" .Lang -}}
  {{- $pages = $pages.ByWeight -}}
  {{- $index := -1 -}}

  {{- range $i, $p := $pages -}}
    {{- if eq $p.RelPermalink $.RelPermalink -}}
      {{- $index = $i -}}
    {{- end -}}
  {{- end -}}

  {{- if ge $index 0 -}}
    {{- if gt $index 0 -}}
      {{- $prevPage = index $pages (sub $index 1) -}}
    {{- end -}}
    {{- if lt $index (sub (len $pages) 1) -}}
      {{- $nextPage = index $pages (add $index 1) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

<div class="row row-cols-2 mt-5 mb-3">
  <div class="col">
    {{- with $prevPage -}}
      {{- if .OutputFormats.Get "html" -}}
        <a class="next" href="{{ .RelPermalink }}">
          {{- partial "assets/icon.html" (dict "icon" $pageNavPrev "spacing" false) }}&nbsp;{{ .LinkTitle }}
        </a>
      {{- end -}}
    {{- end -}}
  </div>
  <div class="col text-end">
    {{- with $nextPage -}}
      {{- if .OutputFormats.Get "html" -}}
        <a class="previous" href="{{ .RelPermalink }}">
          {{ .LinkTitle }}&nbsp;{{- partial "assets/icon.html" (dict "icon" $pageNavNext "spacing" false) }}
        </a>
      {{- end -}}
    {{- end -}}
  </div>
</div>
