{{- $file := .File -}}

{{- if and $file (or (eq .Kind "page") (eq .Kind "section")) -}}
  {{- $repo   := .Site.Params.github.repo -}}
  {{- $branch := .Site.Params.github.branch | default "main" -}}

  {{- if $repo -}}
    {{- $url := printf "%s/edit/%s/%s" $repo $branch $file.Path -}}

    <div class="mt-3 pt-2 border-top small">
      <a href="{{ $url }}" target="_blank" rel="noopener" class="text-muted">
              <img src="/icons/edit.svg" alt="Edit icon" width="16" height="16"> Edit this page
      </a>
    </div>
  {{- end -}}
{{- end -}}
