{{ $ctx := newScratch }}

{{ $tag := .Get "tag" }}
{{ $columns := .Get "cols" | default "2" }}

{{ $ctx.Set "tag" $tag }}
{{ $ctx.Set "members" slice }}
{{ range $key, $value := site.Data.bouncmpe.people }}
{{if intersect $value.tags (slice $tag) }}
{{ $ctx.Set "members" ($ctx.Get "members" | append $value) }}
{{ end }}
{{ end }}
{{ $members := $ctx.Get "members" }}

<div class="container">
  <div class="row gy-4">
    {{ range $members }}
    <div class="col-lg-{{ printf "%.0f" (div 12 (int $columns)) }} col-md-6">
      <div class="card h-100 shadow-sm">
        <div class="row g-0">
          <div class="col-4">
            {{ $thumbnail := .thumbnail | default "images/person.png" }}
            {{ $image_settings := site.Params.people.image_settings | default "500x500 webp q90 smart" }}
            {{ $image_resource := resources.Get $thumbnail }}
            {{ if $image_resource }}
            {{ $retouched := $image_resource.Fill $image_settings }}
            {{ $thumbnail = $retouched.RelPermalink }}
            {{ end }}
            <img src="{{ $thumbnail }}" class="img-fluid rounded-start" alt="{{ .name | anchorize }}-thumbnail">
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">{{ .name | title }}</h5>
              {{ with .position }}
              <p class="card-text text-muted">{{ . | i18n | title }}</p>
              {{ end }}
              <div>
                {{ with .email }}
                <a href="mailto:{{ . }}" class="btn btn-sm btn-outline-secondary me-2"><i class="bi bi-envelope-fill"></i></a>
                {{ end }}
                {{ with .linkedin }}
                <a href="https://linkedin.com/in/{{ . }}" class="btn btn-sm btn-outline-secondary me-2" target="_blank"><i class="bi bi-linkedin"></i></a>
                {{ end }}
                {{ with .github }}
                <a href="https://github.com/{{ . }}" class="btn btn-sm btn-outline-secondary" target="_blank"><i class="bi bi-github"></i></a>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
