<!-- layouts/shortcodes/svg-graph.html -->
<div id="graphDiv"></div>
<style type="text/css">
    #courseSvg {
      width: 100%;
      height: 80vh; /* This sets the height relative to the viewport height */
    }
  
    /* Media query for mobile devices */
    @media (max-width: 768px) {
      #courseSvg {
        height: 300px; /* Utilize full viewport height on smaller screens */
        width: 100%;
      }
    }
  
    /* Optional: Additional styles for tablets */
    @media (min-width: 769px) and (max-width: 1024px) {
      #courseSvg {
        height: 85vh;
        width: 100%;
      }
    }
  
    /* Desktop-specific styling */
    @media (min-width: 1025px) {
      #courseSvg {
        height: 600px;
        width: 100%;
      }
    }
  </style>
  
<script src="https://bumbu.me/svg-pan-zoom/dist/svg-pan-zoom.min.js"></script>
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ startOnLoad: false });

  const drawDiagram = async function () {
    const element = document.querySelector('#graphDiv');
    const graphDefinition = `{{ .Inner | safeJS }}`; // Captures content between shortcode tags
    const { svg } = await mermaid.render('courseSvg', graphDefinition);
    element.innerHTML = svg.replace(/( )*max-width:( 0-9\.)*px;/i, '');


    let panZoom = svgPanZoom('#courseSvg', {
      zoomEnabled: true,
      controlIconsEnabled: true,
      center: true,
      zoomScaleSensitivity: 0.5,
    });
  };
  await drawDiagram();
</script>
